<div>
  <p class="inline-block pb2 h2 mt1 light">Enter a new order</p>

  <form action="">

    <section>
      
      <p class="h3">Customer</p>

      <span class="h6 inline-block caps pt2 bold">Name:</span>
      <input type="text" ng-model="form.customer.name" />

      <span class="h6 inline-block caps pt2 bold">Address:</span>
      <input type="text" ng-model="form.customer.address" />

      <span class="h6 inline-block caps pt2 bold">email:</span>
      <input type="text" ng-model="form.customer.email" />

      <span class="h6 inline-block caps pt2 bold">Phone Number:</span>
      <input type="text" ng-model="form.customer.contact_number" />

    </section>


    <section class="pt2">
      <p class="h3">Driver</p>
    </section>

    <sectioni class="pt3">
      <p class="h3">Donation Details</p>

      <span class="h6 inline-block caps pt2 bold">Prescribed:</span>
      <input type="number" ng-model="form.donation.prescribed_weight" ng-change="updateTotalWeight()" />

      <span class="h6 inline-block caps pt2 bold">Non-Prescribed:</span>
      <input type="number" ng-model="form.donation.nonprescribed_weight" ng-change="updateTotalWeight()" />

      <span class="h6 inline-block caps pt2 bold">Total:</span>
      <div>{{ form.donation.total_donation_weight }}</div>


    </section>


    <section>
      
      <span class="h6 inline-block caps pt2 bold">Collected?</span>
      <input type="checkbox" ng-model="form.donation.collected">

    </section>
  </form>
  
  </br>
  <button class="clearfix right p1 h4 white bg-blue-hover rounded grow" ng-click="addCollectionInformation()"> Submit </button>
  <div class="clearfix"></div>

</div>
