body {
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  letter-spacing: 0.05em;
}

*{
  box-sizing: border-box;
}

.gradient {
  background-image: linear-gradient(90deg, #5FB920 0%, #AAD432 100%);
  background-repeat: no-repeat;
}

/* colours */

.white { color: white }
.bg-white { background-color: white }

.white-hover:hover { color:white }

.black { color: black }
.bg-black { background-color: black }

.grey { color: #9E9E9E }
.bg-grey { background-color: #9E9E9E }

.green { color: #6fbf24 }
.bg-green { background-color: #6fbf24 }

.dark-green { color: #478912 }
.bg-dark-green { background-color: #478912 }

.bg-dark-green-hover:hover { background-color: #478912 }

/* shadow */

.shadow {
  box-shadow: 0px 2px 7px 0px rgba(65,117,5,0.60);
}

.min-height-100 {
  min-height: 100vh;
}

.min-height-100-minus-header {
  min-height: calc(100vh - 6.7em);
}

.grow {
  transition: all 0.2s ease;
}

.grow:hover {
  transform: scale(1.1); 
}

.container {
  max-width: 45rem;
}


